---
interface Props {
  img: string;
  title: string;
  description: string;
}

const { img, title, description } = Astro.props;
---

<div class="card claims_el hidden">
  <div class="card__icon">
    <img
      src={img}
      alt="card-icon"
    />
  </div>
  <div class="card__content">
    <h2 class="card__title">{title}</h2>
    <p class="card__description">{description}</p>
    <button class="card__cta"> Learn More &rarr;</button>
  </div>

  <style lang="scss">
    @import "../../styles/common.scss";
    .card {
      margin: 1rem 0;
      padding: 3rem;
      border-radius: 50px;
      background-color: #fff;
      border: 1px solid #ffe8c8;
      transition: all 0.1s ease;

      @include devices(sm) {
        max-width: 365px;
        margin: 0;
        flex-basis: 45%;
      }

      @include devices(lg) {
        flex-basis: 30%;
      }

      &__icon {
        display: grid;
        place-items: center;
        padding: 2rem;
        width: 100px;
        aspect-ratio: 1/1;
        background-color: #ffe8c8;
        border-radius: 20px;
      }

      &__title {
        margin-top: 7rem;
        color: #2b2b2b;
        font-size: 2rem;
      }

      &__description {
        color: #575757;
        font-size: clamp(1.4rem, 2vw, 1.6rem);
        line-height: 180%;
      }

      &__cta {
        margin-top: 2rem;
        padding: 1rem 1rem 1rem 0;
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 1.6rem;
        color: #575757;

        transition: all 0.1s ease;
        cursor: pointer;
      }
    }

    @include devices(lg) {
      .card:hover {
        transform: scale(1.01);
        filter: drop-shadow(0 50px 80px #976d0033);

        & .card__cta {
          padding: 1.5rem;
          background-color: #fb9333;
          border-radius: 100px;
          color: #fff;
        }
      }
    }

    .hidden {
      opacity: 0;
      transform: scale(0.9);
    }
    .claims_el {
      transition: all 0.5s ease;
    }

    .card:nth-child(1) {
      transition-delay: 100ms;
    }

    .card:nth-child(2) {
      transition-delay: 200ms;
    }
    .card:nth-child(3) {
      transition-delay: 300ms;
    }
  </style>
</div>
