---
import Stat from "./Stat.astro";
import heroSvg from "../../assets/hero.svg";

import { stats } from "../../data/data";
---

<section
  id="hero"
  class="hero"
>
  <div class="hero__left">
    <div class="hero__claim">
      <p>#1 Best Healthy Salad</p>
    </div>
    <h1 class="hero__title">
      <span>Skip</span> The Diet, <br /> Just Eat Healthy <br /> With Jez Salad
    </h1>
    <p class="hero__sub-text">
      Imagine you don't need a diet because we provide healthy and delicious
      food for you!
    </p>
    <button class="hero__cta">Order Food</button>
    <div class="hero__stats">
      {
        stats.map((stat) => (
          <Stat
            category={stat.category}
            amount={stat.amount}
          />
        ))
      }
    </div>
  </div>
  <div class="hero__right">
    <img
      class="hero__img"
      src={heroSvg}
      alt="hero-img"
    />
  </div>
</section>

<style lang="scss">
  @import "../../styles/common.scss";
  .hero {
    margin-top: 8rem;

    padding: 0 $sm-padding-x 4rem $sm-padding-x;

    @include devices(sm) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    @include devices(lg) {
      padding: 0 $lg-padding-x 8rem $lg-padding-x;
    }

    @include devices(xl) {
      padding: 0 $xl-padding-x 8rem $xl-padding-x;
    }

    @include devices(2xl) {
      padding: 0 $_2xl-padding-x 8rem $_2xl-padding-x;
    }

    &__left {
      @include devices(sm) {
        flex-basis: 50%;
      }

      @include devices(2xl) {
        flex-basis: 60%;
      }
    }

    &__claim {
      max-width: 215px;

      padding: 0.5rem 0;

      border-radius: 10rem;

      color: #fb9333;
      background-color: #fff0dc;
      font-size: 1.6rem;
      text-align: center;
    }

    &__title {
      font-size: clamp(4.8rem, 5vw, 7.2rem);
      color: #575757;
    }

    &__title span {
      color: #fb9333;
    }

    &__sub-text {
      margin: 3rem 0;
      width: 80%;

      font-size: clamp(1.6rem, 2vw, 2rem);
      color: #828282;
    }

    &__cta {
      padding: 1.5rem 3rem;
      max-width: 150px;

      border: none;
      border-radius: 100px;

      background-color: #fb9333;
      color: #fff;
      font-size: 1.6rem;

      cursor: pointer;
    }

    &__stats {
      margin-top: 4rem;

      @include devices(sm) {
        display: flex;
      }

      @include devices(xl) {
        margin-top: 8rem;
        gap: 3rem;
      }
    }

    &__right {
      width: 70%;
      margin: -40% 0 0 auto;

      @include devices(sm) {
        margin: 0;
        width: 50%;
      }
    }

    &__img {
      width: 100%;
      max-height: 75vh;
    }
  }

  .hidden {
    display: none;
  }
</style>

<script>
  import observer from "../../utils/observer";

  const hero = document.querySelector("#hero");
  const backToTop = document.querySelector(".back-to-top");
  const heroElements = [hero, backToTop];

  heroElements.forEach((element) => observer.observe(element));
</script>
