---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="Jez Salad">
  <Header />
  <main>
    <h1>Skip The Diet, Astro Foods</h1>
  </main>
</Layout>

<style></style>
