---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/hero/Hero.astro";
import Claims from "../components/claims/Claims.astro";
import SocialProof from "../components/social-proof/SocialProof.astro";
import Menu from "../components/menu/Menu.astro";
import Newsletter from "../components/newsletter/Newsletter.astro";
import Footer from "../components/footer/Footer.astro";
---

<Layout title="Jez Salad">
  <div class="above-fold">
    <Header />
    <Hero />
  </div>

  <main>
    <Claims />
    <SocialProof />
    <Menu />
    <Newsletter />
  </main>

  <Footer />
</Layout>

<style>
  .above-fold {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      45deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(246, 238, 228, 1) 75%,
      rgba(254, 233, 205, 1) 100%
    );
  }
</style>
