---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Claims from "../components/Claims.astro";
import SocialProof from "../components/SocialProof.astro";
---

<Layout title="Jez Salad">
  <div class="above-fold">
    <Header />
    <Hero />
  </div>

  <main>
    <Claims />
    <SocialProof />
  </main>
</Layout>

<style>
  .above-fold {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      45deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(246, 238, 228, 1) 75%,
      rgba(254, 233, 205, 1) 100%
    );
  }
</style>
