---
interface Props {
  text: string;
}

const { text } = Astro.props;
---

<button class="button">
  {text}
</button>

<style>
  .button {
    padding: 1.5rem 3rem;
    max-width: 150px;

    border: none;
    border-radius: 100px;

    background-color: #fb9333;
    color: #fff;
    font-size: 1.6rem;

    cursor: pointer;
  }
</style>
